* {
  margin: 0;
  box-sizing: border-box;
}
.color {
  height: 100vmax;
  width: 100vmax;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  margin: 300px auto 0 auto;
  color: #000000;
  cursor: pointer;
  border-color: #068de7;
}

.rgb {
  width: 100%;
  margin: 5px auto 0 auto;
  color: #ffffff;
}

input, .rgb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: none;
  outline: 0;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Gill Sans', Arial, sans-serif;
  text-align: center;
  height: 50px;
  padding: 15px 20px;
  white-space: nowrap;
}